<div class='center'>
	<h1>Colorado Youth Field Hockey</h1>
	<p>Youth Field Hockey in the Denver Metro Area</p>
</div>
<% if logged_in? %>
	<h2> My Players: </h2>
<% end %>
<!-- <div
  class="fb-like"
  data-share="true"
  data-width="450"
  data-show-faces="true">
</div> -->



