<li>
  <%= link_to user.last_name, user %><br>
  <%= user.email %><br>
  <%= user.phone %><br>
	<% if current_user.admin? && !current_user?(user) %>
		<%= link_to "Delete User", user, method: :delete,
	                              data: { confirm: "You sure?" } %>
	<% end %>
</li>