<footer class="footer">
  <small>
    Site created by Kaitlin Barrer
  </small>
  <nav>
    <ul>
      <li><%= link_to "Contact", '#' %></li>
      <li><a href="https://webpoint.usfieldhockey.com/wp/Memberships/Join.wp">USA Field Hockey</a></li>
    </ul>
  </nav>
</footer>